.sidebar {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: 100vh;
    width: 300px;
    background-color: black;
    justify-content: space-between;

    & > .top-section {
        display: flex;
        flex-direction: column;

        & > .logo {
            display: flex;
            justify-content: center;
            & > img {
                width: 200px;
            }
        }

        & > .nav-link{
            padding: 15px;
            border: 1px solid #777;
            color: #777;
            text-decoration: none;
            text-transform: uppercase;
        }
    }

    & > .bottom-section {
        display: flex;
        flex-direction: column;

        & > .link {
            padding: 15px;
            border: 1px solid #777;
            justify-self: flex-end;
            color: #777;
            text-decoration: none;
            text-transform: uppercase;
            text-align: center;

        }

        & > .logout {
            background-color: black;
            width: 100%;
            padding: 15px;
            border: 1px solid #777;
            justify-self: flex-end;
            color: #777;
            text-decoration: none;
            text-transform: uppercase;
            cursor: pointer;
        }
    }
    
}