.login-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;
    background-image: url(../../../assets/login-bg.jpg);
    background-position: center;
    background-size: cover;
}